.mega--menu--list{
    /* background-color: #fff;
    position: relative;
    padding-top: 3rem;
    position: absolute;
    left: 0;
    top: -50rem;
    right: 0;
    max-inline-size: inherit;
    inline-size: inherit;
    z-index: 9;
    border-top: 0.0625rem solid #D4D8E0;
    box-shadow: 0 3rem 3rem rgb(0 0 0 / 40%);
    max-height: calc(100vh - 3.75rem);
    overflow-y: auto;
    transition: 1s;
    transition: all .4s ease-in-out,opacity .2s ease-in-out,z-index 0s 1s;
    visibility: hidden;
    top: 100%;
    opacity: 0; */
    padding-top: 3rem;
    z-index: -1;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    transition: all .4s ease-in-out,opacity .2s ease-in-out,z-index 0s 1s;
    box-shadow: 0 3rem 3rem rgb(0 0 0 / 40%);
    /* border-top: 1px solid #d6d6d6; */
    position: absolute;
    border-top: 0.0625rem solid #D4D8E0;
    box-shadow: 0 3rem 3rem rgb(0 0 0 / 40%);
}
.active--mega--menu .mega--menu--list{
    top: 3.5rem;
    z-index: 0;
    visibility: visible;
    opacity: 1;
}
.mega--menu--footer{
    position: relative;
    overflow: hidden;
    z-index: 99;
    background-color: #101114;
}
.mega--menu--footer h3{
    color: #fff;
    max-width: fit-content;
}
.mega--menu--footer h3 span{
    color: #e00;
}
.mega-footer-icon {
    max-width: 20rem;
}
.mega-footer-icon img {
    max-width: 15rem;
    margin: auto;
}
.mega--menu--list a.button,
.mega--menu--footer a.button{
    max-width: fit-content;
    min-width: 8rem;
}
.mega--menu--footer a.button:hover, 
.mega--menu--list a.button:hover{
    background-image: none;
}
.sub-mega-menu--list li {
    display: block;
}
.sub-mega-menu--list li:not(:first-child) {
    margin-top: 1.5rem;
}
.mega--menu--block ul li a,
.comp--menu--block ul li a{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: #000;
}
.desktop--menu .mega--menu--block ul li span:hover a,
.desktop--menu .comp--menu--block ul li span:hover a{
    color: #e00;
}
.mega--menu--block ul li a img,
.comp--menu--block ul li a img{
    max-width: 2.25rem;
}
.product--video--block {
    max-width: 20.5rem;
    flex-basis: 20rem;
    background: #F9FAFB;
    border-radius: 0.5rem;
    overflow: hidden;
}
.product--video {
    height: 20.5rem;
    background: #000;
}
.product--menu--list{
    max-width: 65rem;
    flex-basis: 40rem;
}
.mega--menu--block {
    max-width: 20rem;
    row-gap: 1.5rem;
    flex-basis: 16rem;
}
.mega--menu--block:first-child {
    max-width: 25.75rem;
    flex-basis: 20rem;
}
.menu--image img {
    inline-size: auto;
    max-width: 11.635rem;
}
.sub-menu-has-drop-menu li:not(:last-child) {
    margin-bottom: 1rem;
}
.sub-menu-has-drop-menu li {
    display: block;
}
.sub-menu-has-drop-menu li a {
    position: relative;
}
.sub-menu-has-drop-menu li a:after {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    position: static;
    border: solid #B8BEC9;
    border-width: 0 0.125rem 0.125rem 0;
    transform: rotate(-45deg);
    margin-top: 0.25rem;
}
.mega-menu--logos a{
    max-width: calc(50% - .5rem);
}

.mega--menu--list div[data-testid=carousel] div button{
    display: none;
}

.mega--menu--list .stack--icon{
    margin-top: -3rem;
    margin-left: 1rem;
}

.resorces-menu-list > a{
    background-color: #F8F9FA;
    border-radius: 0.25rem;
    border: .125rem solid transparent;
}

.resources-menu-block {
    max-width: calc(75% - 0.75rem);
}

.resources-menu-block-image {
    max-width: calc(25% - 0.75rem);
    background-color: #F9FAFB;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 0.125rem solid transparent;
    transition: 0.3s;
}

.resources-menu-block-image .m-res-image{
    margin-top: -1rem;
    color: #101114;
}

.resorces-menu-list a p{
    color: #101114;
}

.resorces-menu-list > a img {
    max-width: 10rem;
    flex-grow: 1;
    width: 100%;
    margin-left: auto;
}

.resorces-menu-list {
    max-width: calc(33.3333% - 1rem);
    width: 100%;
}

.comp--menu--block{
    background-color: #F8F9FA;
    border-radius: 0.25rem;
    border: .125rem solid transparent;
}

.resources-menu-block-image:hover,
.resorces-menu-list a:hover,
.comp-menu-list a:hover{
    border-color: #e00;
}

.comp--menu--block > img {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-bottom: -1.5rem;
    width: calc(100% + 3rem);
    max-inline-size: none;
    margin-top: -2rem;
}

.comp--menu--block > .comp-img{
    margin-top: -5rem;
    max-width: 26rem;
    margin-left: auto;
}

.resources-menu-block-image .m-comp-image{
    margin-top: -2.534rem;
}
.mega--menu--open .products-page .header--bg .mega--menu--footer a {
    color: #fff;
}